@media (max-width:1200px){
  .header__btn-order{
    margin-left: 0;
  }
  .promo__links{
    margin-left: 0;
  }
}
@media (max-width:991.5px){
  .container{
    width: 720px;
    margin: 0 auto;
  }
  .promo__header{
    font-size: 28px;
  }
  .promo__subheader{
    font-size: 20px;
  }
  .promo__icon{
    margin-top: 40px;
    margin-left: 26px;
  }
  .header__btn-order{
    width: 215px;
    font-size: 14px;
    margin-top: 50px;
  }
  .promo__links{
    margin-left: -40px;
    font-size: 15px;
  }
  .benefits__header{
    font-size: 24px;
    line-height: 0;
  }
  .benefits__subheader{
    font-size: 17px;
  }
  .benefits__text{
    font-size: 13px;
  }
  .carousel{
    padding: 50px 0;
    &__inner{
      width: 700px;
      img{
        width: 100%;
      }
    }
    .slick-prev{
      left: -35px;
    }
    .slick-next{
      right: -60px;
    }
  }
  .catalog{
    &__content_active{
      justify-content: space-around;
    }
  }
}
@media (max-width:767.5px){
  .container{
    width: 570px;
  }
  .header{
    &__number{
      font-size: 14px;
    }
    &__btn{
      width: 130px;
    }
    &__btn-order{
      width: 200px;
    }
    &__text{
      font-size: 13px;
      span{
        font-size: 17px;
      }
    }
    &__img{
      width: 210px;
    }
  }
  .promo{
    min-height: 600px;
    &__header{
      font-size: 25px;
    }
    &__subheader{
      font-size: 18px;
    }
  }
  .benefits{
    padding: 35px 0 0 0;
    &__wrapper{
      margin-top: 50px;
      flex-wrap: wrap;
    }
    &__items-ml{
      margin:0 auto;      
    }
    &__items-flex{
      height: auto;
    }
    .m0{
      margin: 0 auto;
    }
  }
  .consultation{
    padding-bottom: 0;
    padding-top: 80px;
    &__header{
      font-size: 31px;
    }
    &__btn{
      width: 100%;
    }
  }
  .carousel{
    padding: 50px 0;
    &__inner{
      width: 570px;
      img{
        width: 100%;
      }
    }
  }
  .catalog__card{
    width: 80%;
  }
  .catalog__btn{
    width: 160px;
  }
  .catalog__tabs{
    li{
      width: 165px;
      font-size: 16px;
    }
  }
  .feedback{
    &__text{
      padding: 0;
    }
  }
}
@media (max-width:575.5px){
  .container{
    width: auto;
    margin: 0 12px 0 12px;
  }
  .container__header{
    margin-left: 0;
  }
  .header{
    justify-content: space-between;
    &__text{
      display: none;
    }
    &__btn{
      float: right;
      width: 110px;
      margin: 0;
      font-size: 11px;
    }
    &__btn-order{
      width: 150px;
      margin-top: 45px;
      font-size: 13px;
    }
    &__number{
      font-weight: 100;
      font-size: 14px;
    }
    &__img{
      width: 180px;
    }
  }
  .promo{
    padding-top: 20px;
    padding-bottom: 0;
    &__header{
      margin-bottom: 0;
      font-size: 21px;
    }
    &__wrapper{
      margin-top: 75px;
    }
    &__subheader{
      font-size: 17px;
    }
    &__info{
      width: 100%;
    }
    &__text{
      font-size: 15px;
    }
  }
  .benefits{
    &__items-flex{
      margin-top: 10px;
    }
    &_wrapper{
      margin-top: 40px;
    }
    &__items{
      margin: 0 auto;
    }
  }
  .consultation{
    min-height: 640px;
    padding-top: 50px;
    &__header{
      font-size: 24px;
      line-height: 40px;
      font-weight: 500;
    }
    &__subheader{
      font-size: 19px;
    }
    &__btn{
      font-size: 16px;
      font-weight: 500;
      line-height: 25.44px;
      text-align: center;
      width: 100%;
      margin-top: 31px;
    }
  }
  .carousel{
    &__inner{
      width: 100%;
    }
  }
  .catalog{
    .container{
      margin: 0 6px;
    }
    &__tabs{
      li{
        transform: skewX(0deg);
        font-size: 15px;
        width: 150px;
        div{
        transform: skewX(0deg);
        }
      }
      li.catalog__tab_lh{
        margin-right: 0;
      }
      li.lh{
        margin-left: 0;
      }
    }
  }
  .feedback{
    &__img{
      width: 140px;
      height: 140px;
      margin: 0 auto;
      display: block;
    }
    &__text{
      margin-left: 10px;
    }
    &__item{
      display: block;
    }
    &__text{
      margin-top: 10px;
    }
  }
  .footer{
    &__info{
      width: 90%;
      padding-top: 35px;
    }
    &__address{
      font-size: 19px;
    }
    &__number{
      font-size: 19px;
    }
    &__social{
      &-item{
        width: 45px;
        height: 45px;
      }
    }
  }
  .modal{
    width: 95%;
    padding-left: 30px;
    &__form{
      input{
        width: 85%;
      }
      button{
        width: 85%;
      }
    }
  }
}
@media(max-width:375px){
  li.lh{
    line-height: 25px;
  }
  .catalog__card{
    width: 90%;
  }
}
@media(max-width:421px){
  li.catalog__tab_lh{
    line-height: 23px;
  }
}